<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a routerLink="/" class="brand-link">
    <img src="assets/dist/img/AdminLTELogo.png" alt="PMS" class="brand-image img-circle elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-light">PMS</span>
  </a>
  <div class="sidebar">

    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <!-- <div class="image">
          <img src="assets/dist/img/avatar.png" class="img-circle elevation-2" alt="User Image">
        </div> -->
      <div class="info">
        <a href="#" class="d-block">Patient</a>
        <a href="#" class="d-block">{{ email }}</a>
      </div>
    </div>

    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-item">
          <a routerLink="/patient-dashboard" class="nav-link active">
            <i class="nav-icon far fa-image"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/patientdetails" class="nav-link">
            <!-- <a [routerLink]="['/patientdetailsview','{{userId}}']"></a> -->
            <i class="nav-icon far fas fa-edit"></i>
            <p>
              Patient Details
              <span class="badge badge-info right"></span>
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/visit-detail" class="nav-link">
            <!-- <a [routerLink]="['/patientdetailsview','{{userId}}']"></a> -->
            <i class="nav-icon fa fa-history"></i>
            <p>
              Patient Visit History
              <span class="badge badge-info right"></span>
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a  class="nav-link">
            <i class="nav-icon fa fa-calendar"></i>
            <p>
              Schedule
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">

            <li class="nav-item">
              <a href="javascript:void(0)" (click)="menu_click(2)"  class="nav-link">
                <i class="far fa-calendar-check-o nav-icon"></i>
                <p>View Calendar</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="javascript:void(0)" (click)="menu_click(3)"  class="nav-link">
                <i class="far fa-calendar-plus-o nav-icon"></i>
                <p>Schedule Appointment</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="javascript:void(0)" (click)="menu_click(1)"  class="nav-link">
                <i class="far fa-calendar-times-o nav-icon"></i>
                <p>Appointment List</p>
              </a>
            </li>
            
          </ul>
        </li>


        <li class="nav-item">
          <a href="javascript:void(0)" (click)="logout_click()" class="nav-link">
            <i class="nav-icon fa fa-sign-out" aria-hidden="true"></i>
            <p>
              Sign out              
            </p>
          </a>
        </li>

        
      </ul>
    </nav>
  </div>
</aside>