@import "~@angular/material/prebuilt-themes/indigo-pink.css";

h2{
    padding-top: 0.2cm;
    text-align: center;
    color: darkorchid;
}
table {
    width: 100%;
  }
  th.mat-sort-header-sorted {
    color: black;
  }